Linux DNS 관련 설정 파일 공유

### /etc/named.conf
```
//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
	listen-on port 53 { any; };
	listen-on-v6 port 53 { none; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	secroots-file	"/var/named/data/named.secroots";
	recursing-file	"/var/named/data/named.recursing";
	allow-query     { any; };

	/* 
	 - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
	 - If you are building a RECURSIVE (caching) DNS server, you need to enable 
	   recursion. 
	 - If your recursive DNS server has a public IP address, you MUST enable access 
	   control to limit queries to your legitimate users. Failing to do so will
	   cause your server to become part of large scale DNS amplification 
	   attacks. Implementing BCP38 within your network would greatly
	   reduce such attack surface 
	*/
	recursion no;

	dnssec-enable yes;
	dnssec-validation yes;

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";

	/* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
	include "/etc/crypto-policies/back-ends/bind.config";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
```

[named.conf.txt](https://github.com/SeongSikChae/PowerManagerDocument/files/8249135/named.conf.txt)

### /etc/named.rfc1912.zones

```
// named.rfc1912.zones:
//
// Provided by Red Hat caching-nameserver package 
//
// ISC BIND named zone configuration for zones recommended by
// RFC 1912 section 4.1 : localhost TLDs and address zones
// and https://tools.ietf.org/html/rfc6303
// (c)2007 R W Franks
// 
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//
// Note: empty-zones-enable yes; option is default.
// If private ranges should be forwarded, add 
// disable-empty-zone "."; into options
// 

zone "localhost.localdomain" IN {
	type master;
	file "named.localhost";
	allow-update { none; };
};

zone "localhost" IN {
	type master;
	file "named.localhost";
	allow-update { none; };
};

zone "1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.ip6.arpa" IN {
	type master;
	file "named.loopback";
	allow-update { none; };
};

zone "1.0.0.127.in-addr.arpa" IN {
	type master;
	file "named.loopback";
	allow-update { none; };
};

zone "0.in-addr.arpa" IN {
	type master;
	file "named.empty";
	allow-update { none; };
};

zone "dawonai.com" IN {
        type master;
        file "dawonai.com.zone";
        allow-update { none; };
        allow-transfer { none; };
};

zone "59.194.20.in-addr.arpa" IN {
        type master;
        file "59.194.20.zone";
        allow-update { none; };
        allow-transfer { none; };
};
```
[named.rfc1912.zones.txt](https://github.com/SeongSikChae/PowerManagerDocument/files/8249137/named.rfc1912.zones.txt)



### /var/named/dawonai.com.zone

```
$TTL 1D
@	IN SOA	dawonai.com.	root (
					0	; serial
					1	; refresh
					2	; retry
					3	; expire
					4 )	; minimum
	IN NS	dawonai.com.
	IN A	20.194.59.149
dwmqtt	IN A	20.194.59.149
dwapi	IN A	20.194.59.149
```
[dawonai.com.zone.txt](https://github.com/SeongSikChae/PowerManagerDocument/files/8249142/dawonai.com.zone.txt)



### /var/named/59.194.20.zone

```
$TTL 1D
@	IN SOA	dawonai.com.	root (
					0	; serial
					1	; refresh
					2	; retry
					3	; expire
					4 )	; minimum
        IN NS   dawonai.com.
        IN A    20.194.59.149
149	IN PTR	dawonai.com.
149	IN PTR	dwmqtt.dawonai.com.
149	IN PTR	dwapi.dawonai.com.
```
[59.194.20.zone.txt](https://github.com/SeongSikChae/PowerManagerDocument/files/8249151/59.194.20.zone.txt)



Linux bind 서비스 설정 파일 공유 완료로 Close 조치